body,
html {
    margin: 0;
    height: 100vh;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    background: rgb(238, 238, 238);
    font-family: 'Nunito', sans-serif;
}

.header,
.card,
.footer {
    margin: 4em;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
    &__title {
        font-size: 5rem;
        font-style: italic
    }
    &__logo {
        max-height: 200px;
        border-radius: 20px;
    }
}

.card {
    padding: 0 5em;
    &__img {
        display: block;
        height: 100px;
        width: 100%;
        background: #e0466b;
    }
    &__content {
        padding: 1.5em;
        background: white;
    }
    &__list {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
    }
    &__item {
        padding: .3em .5em;
        margin-right: .5em;
        background: rgb(230, 230, 230);
        border-radius: .3em;
        font-size: .85em;
        &--active {
            background: #d4d4d4;
            font-weight: bold;
        }
    }
    &__link {
        background: #2c8973;
        color: white;
        text-decoration: none;
        padding: .5em 1em;
        border-radius: .5em;
        display: inline-block;
        margin-top: .5em;
        &:hover {
            background: #267764;
        }
    }
}

.footer {
    margin: 0 auto;
    color: white;
    &__copyright {
        background-color: #e0466b;
        padding: .5em 1em;
        font-size: 1.5rem;
    }
    &__link {
        text-decoration: none;
        color: white;
        &:hover {
            font-weight: bold;
        }
    }
}